# Creamos Base de datos #

In [18]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE IF NOT EXISTS Project_1")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE DATABASE IF NOT EXISTS Project_1

# Creamos tablas #

In [19]:
import mysql.connector

# Creamos una funcion para crear la tabla correspondiente a cada extension de archivo, dentro de la Base de Datos Project_1

def creacion_tablas (query_tablas):
    
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='Project_1')


    mycursor = cnx.cursor()
    try:
        mycursor.execute(query_tablas)
        cnx.commit()
        print(mycursor)
    
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [20]:
#Definimos query de creacion de tablas sql.

tabla_sql = ("""CREATE TABLE `data_sql` (
  `index_sql` int NOT NULL,
  `q10_part_1` varchar(55) DEFAULT NULL,
  `q10_part_2` varchar(55) DEFAULT NULL,
  `q10_part_3` varchar(55) DEFAULT NULL,
  `q10_part_4` varchar(55) DEFAULT NULL,
  `q10_part_5` varchar(55) DEFAULT NULL,
  `q10_part_6` varchar(55) DEFAULT NULL,
  `q10_part_7` varchar(55) DEFAULT NULL,
  `q10_part_8` varchar(55) DEFAULT NULL,
  `q10_part_9` varchar(55) DEFAULT NULL,
  `q10_part_10` varchar(55) DEFAULT NULL,
  `q10_part_11` varchar(55) DEFAULT NULL,
  `q10_part_12` varchar(55) DEFAULT NULL,
  `q10_part_13` varchar(55) DEFAULT NULL,
  `q10_part_14` varchar(55) DEFAULT NULL,
  `q10_part_15` varchar(55) DEFAULT NULL,
  `q10_part_16` varchar(55) DEFAULT NULL,
  `q10_other` varchar(55) DEFAULT NULL,
  PRIMARY KEY (`index_sql`)
);""")

In [21]:
#Definimos query de creacion de tablas xml.

tabla_xml =("""CREATE TABLE IF NOT EXISTS data_xml (
`index_0` INT,
`index_xml`INT NOT NULL PRIMARY KEY,
`time` INT,
`age` VARCHAR(20),
`gender` text(100),
`index_sql` INT,
CONSTRAINT `fk_data_xml_data_sql`
FOREIGN KEY (`index_sql`)
REFERENCES `data_sql` (`index_sql`)
ON DELETE CASCADE
ON UPDATE CASCADE
);""")

In [22]:
#Definimos query de creacion de tablas txt.

tabla_txt =(""" CREATE TABLE IF NOT EXISTS data_txt (
index_txt INT NOT NULL PRIMARY KEY,
index_sql INT,
q3 VARCHAR (50),
q4 VARCHAR (50),
q5 VARCHAR (50),
q6 VARCHAR (50),
q7 VARCHAR (50),
q8 VARCHAR (50),
q9 VARCHAR (50),
q11 VARCHAR (50),
q12 VARCHAR (50),
q13 VARCHAR (50),
q14 VARCHAR (50),
q15 VARCHAR (50),
q16 VARCHAR (50),
q17 VARCHAR (50),
q20 VARCHAR (50),
q21 VARCHAR (50),
q22 VARCHAR (50),
q23 VARCHAR (50),
q24 VARCHAR (50),
q25 VARCHAR (50),
q26 VARCHAR (50),
q32 VARCHAR (50),
q33 VARCHAR (50),
q34 VARCHAR (50),
q35 VARCHAR (50),
q41 VARCHAR (50),
CONSTRAINT `fk_data_txt_data_sql`
	FOREIGN KEY (`index_sql`) 
	REFERENCES `data_sql` (`index_sql`)
	ON DELETE CASCADE
	ON UPDATE CASCADE
    );""")

In [23]:
# Corremos las funciones para que se creen cada una de las tablas.

creacion_tablas(tabla_sql)
creacion_tablas(tabla_xml)
creacion_tablas (tabla_txt)

MySQLCursor: CREATE TABLE `data_sql` (
  `index_sql` ..
MySQLCursor: CREATE TABLE IF NOT EXISTS data_xml (
`i..
MySQLCursor:  CREATE TABLE IF NOT EXISTS data_txt (
i..

Una vez creada la base de datos y la tabla tenemos que insertar los valores que tenemos para cada una de ellas, se nos presenta la situacion de que los datos que contiene cada archivo no estan  listos para ser cargados, es necesario que realicemos limpieza de los mismos con distintas funciones dependiendo del tipo de archivo que tratemos, para ellos vamos a definir una clase que identifique que extencion de archivo estamos leyendo y proceda a realizarle las modificaciones necesarias para cargar sus datos en la tabla correspondiente.

#### Importamos librerias:

In [24]:
import re
import os
import os.path
import xml.etree.ElementTree as ET
import mysql.connector

In [36]:
class Limpieza_datos:

    def __init__(self,nombre_archivo):
        self.nombre_archivo = nombre_archivo
        #self.extension_archivo = extension_archivo

    
   

    def  abrir_archivos (self):
    
            nombre = os.path.splitext(self)[0]
            extension = os.path.splitext(self)[1]

            if extension == '.xml':  #funciones xml para lectura ficheros.
                tree = ET.parse('../data/self.data_xml.xml')
                root = tree.getroot()

                self.nombre_archivo = []
                for child in root:
                        xml_dict = {}
                        for subchild in child:
                            xml_dict[subchild.tag] = subchild.text
                return self.nombre_archivo.append(xml_dict)

            
            #entonces tendremos que cerrar el archivo despues de abrirlo??

            elif extension == '.txt':  #funciones txt para lectura ficheros.

                with open('../data/self.data_txt_reorder.txt','r') as file:
                    self.nombre_archivo = file.readlines()

                return self.nombre_archivo

           

            #elif extension == '.sql':
            #funciones sql para lectura ficheros(ver que ya lo leemos directamente en sql!)
    
    def limpieza_datos (self):

            nombre = os.path.splitext(self)[0]
            extension = os.path.splitext(self)[1]

            if extension == '.xml':
                
            #def limpieza_datos (self):

                #nombre = os.path.splitext(self)[0]
                #extension = os.path.splitext(self)[1]

            #if extension == '.xml'
                for dictionary in self:
                    if dictionary.get('gender') == '0':
                        dictionary['gender'] = 'Man'
                    elif dictionary.get('gender') == '1':
                        dictionary['gender'] = 'Woman'
                    elif dictionary.get('gender') == '2':
                        dictionary['gender'] = 'Nonbinary'
                    elif dictionary.get('gender') == '3':
                        dictionary['gender'] = 'Prefer not to say'
                    elif dictionary.get('gender') == '4':
                        dictionary['gender'] = 'Prefer to self-describe'
                    else:    
                        print(f"There is an error, the unlisted values is : {dictionary.get('gender')}")
            
                lista_tupla= []
                for i in self:
                    lista_tupla.append(tuple(i.values()))

                return lista_tupla 
   
            
            elif extension == '.txt':
                
                lista_puntocoma = []
                lista_espacios = []
                lista_under = []  
                lista_final = []  
                lista_tupla = []
                lista_tupla_txt = []

            #def limpieza_txt (self): # Vamos a quitar los puntos y comas de la lista y convertir cada string en lista.
                for i in self:
            
                    lista_intermedia = i.split(";")
                    lista_puntocoma.append(lista_intermedia)

            #def espacios(self):# Vamos a quitar los espacios de mas en cada string.
                for sublista in lista_puntocoma[1:]:

                    lista_almancenado_strings = []

                    for palabra in sublista:
                        palabra = palabra.strip()
                    lista_almancenado_strings.append(palabra)
                
                lista_espacios.append(lista_almancenado_strings)

             #def under(self):
                for sublista in lista_espacios[:]:
                    
                    lista_almancenado_under = []

                    for palabra in sublista:
                        i = palabra.replace('<','under')
                    lista_almancenado_under.append(i)
        
                lista_under.append(lista_almancenado_under)

            #def null(self):
                for sublista in lista_under[:]:

                    lista_almancenado_null = []
                    for palabra in sublista:
                        x = palabra.replace('null','NULL')
                    lista_almancenado_null.append(x)
    
                lista_final.append(lista_almancenado_null)

                for z in lista_final:
                    lista_tupla = tuple(z) 
                    lista_tupla_txt.append(lista_tupla)   

                return lista_tupla_txt
          
            #elif extension == '.sql':


            #funciones sql limpieza

Creamos cada una de las clases por cada extension de archivo.

In [37]:
xml_class = Limpieza_datos('data_xml.xml')

In [38]:
txt_class = Limpieza_datos('data_txt.txt')

In [39]:
sql_class = Limpieza_datos('data_sql.sql')

Llamamos a las funciones de la clase de apertura y limpieza del archivo.

In [40]:
xml_lista = xml_class.lectura_archivo()

AttributeError: 'Limpieza_datos' object has no attribute 'lectura_archivo'

In [ ]:
xml_limpio = xml_class.limpieza_datos(xml_lista)

NameError: name 'xml_lista' is not defined

In [ ]:
txt_lista = txt_class.lectura_archivo()

AttributeError: 'Limpieza_datos' object has no attribute 'lectura_archivo'

In [ ]:
txt_limpio = txt_class.limpieza_datos(txt_lista)

NameError: name 'txt_lista' is not defined

In [ ]:
sql_lista = sql_class.lectura_archivo()

AttributeError: 'Limpieza_datos' object has no attribute 'lectura_archivo'

In [ ]:
sql_limpio = sql_class.limpieza_datos(sql_lista)

NameError: name 'sql_lista' is not defined

Una vez limpios los datos necesitamos extraer los valores de cada archivo en una query para poder asi cargarlos en las tablas respectivas.

In [ ]:
query_val_xml = xml_limpio

In [ ]:
query_val_txt = txt_limpio

In [ ]:
query_val_sql = sql_limpio

Para la carga de datos necesitamos tener los nombres de columnas de cada una de las tablas, por lo que creamos la query para cada una de las tablas:

In [ ]:
query_sql_xml = ''' INSERT INTO data_xml (index_xml, time, age, gender, index_sql '''

In [ ]:
query_sql_txt =''' INSERT INTO '''

In [ ]:
query_sql_sql =

 # Insertamos datos en las tablas #

In [ ]:
def insertar_datos (query_sql,query_val):

  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='Project_1')


  mycursor = cnx.cursor()
  sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
  val = [
    ('Ana', 'Lowstreet 4'),
    ('Rocio', 'Apple st 652'),
    ('Juana', 'Mountain 21'),
    ('Pedro', 'Valley 345')
  ]

  try: 
      mycursor.executemany(sql, val)
      cnx.commit()
      print(mycursor.rowcount, "registro/s insertado/s.")

  except mysql.connector.Error as err:
      print(err)
      print("Error Code:", err.errno)
      print("SQLSTATE", err.sqlstate)
      print("Message", err.msg)