In [1]:
with open('../data/data_txt_reorder.txt','r') as file:
    file_source = file.readlines() 
# Es una lista que cada l√≠nea del fichero txt 
# como un string de todos los datos.

In [3]:
      
lista_puntocoma = []
lista_espacios = []
lista_under = []  
lista_final = []  
lista_tupla = []
lista_tupla_txt = []

def limpieza_txt (self): # Vamos a quitar los puntos y comas de la lista y convertir cada string en lista.

        
        for i in self:
            
            lista_intermedia = i.split(";")
            
            lista_puntocoma.append(lista_intermedia)
            
    #def espacios(self):# Vamos a quitar los espacios de mas en cada string.
        
        
        for sublista in lista_puntocoma[1:]:

            lista_almancenado_strings = []

            for palabra in sublista:
                palabra = palabra.strip()
                lista_almancenado_strings.append(palabra)
                
            lista_espacios.append(lista_almancenado_strings)

    #def under(self):

        for sublista in lista_espacios[:]:
    
            lista_almancenado_under = []
            for palabra in sublista:
                i = palabra.replace('<','under')
                lista_almancenado_under.append(i)
        
            lista_under.append(lista_almancenado_under)

#def null(self):

      
    
        for sublista in lista_under[:]:

            lista_almancenado_null = []
            for palabra in sublista:
       
                x = palabra.replace('null','NULL')
                lista_almancenado_null.append(x)
    
            lista_final.append(lista_almancenado_null)


        for z in lista_final:
            lista_tupla = tuple(z) 
            lista_tupla_txt.append(lista_tupla)   

        return lista_tupla_txt

In [109]:
#lista_columna = tuple(file_source[0])
#lista_columna no funciona 

c1 = file_source[0].replace('\n',"")
columna1 = c1.strip()
columnas2 = columna1.split(";")
columna_tupla = tuple(columnas2)

columna_tupla
len(columna_tupla)

27

In [110]:
columna_tupla

('index_sql',
 'Q3',
 'Q4',
 'Q5',
 'Q6',
 'Q7',
 'Q8',
 'Q9',
 'Q11',
 'Q12',
 'Q13',
 'Q14',
 'Q15',
 'Q16',
 'Q17',
 'Q20',
 'Q21',
 'Q22',
 'Q23',
 'Q24',
 'Q25',
 'Q26',
 'Q32',
 'Q33',
 'Q34',
 'Q35',
 'Q41')

In [98]:
#c2 = list(columna_tupla) #.replace('\n',""))
#c2.replace('\n',"")

AttributeError: 'list' object has no attribute 'replace'

In [82]:
values_txt = limpieza_txt(file_source)

In [85]:
query1 = """CREATE TABLE `data_txt` (
  `index_txt` int auto_increment NOT NULL,
  `index_sql` int DEFAULT NULL,
  `q3` varchar(50) DEFAULT NULL,
  `q4` varchar(50) DEFAULT NULL,
  `q5` varchar(50) DEFAULT NULL,
  `q6` varchar(50) DEFAULT NULL,
  `q7` varchar(50) DEFAULT NULL,
  `q8` varchar(50) DEFAULT NULL,
  `q9` varchar(50) DEFAULT NULL,
  `q11` varchar(50) DEFAULT NULL,
  `q12` varchar(50) DEFAULT NULL,
  `q13` varchar(50) DEFAULT NULL,
  `q14` varchar(50) DEFAULT NULL,
  `q15` varchar(50) DEFAULT NULL,
  `q16` varchar(50) DEFAULT NULL,
  `q17` varchar(50) DEFAULT NULL,
  `q20` varchar(50) DEFAULT NULL,
  `q21` varchar(50) DEFAULT NULL,
  `q22` varchar(50) DEFAULT NULL,
  `q23` varchar(50) DEFAULT NULL,
  `q24` varchar(50) DEFAULT NULL,
  `q25` varchar(50) DEFAULT NULL,
  `q26` varchar(50) DEFAULT NULL,
  `q32` varchar(50) DEFAULT NULL,
  `q33` varchar(50) DEFAULT NULL,
  `q34` varchar(50) DEFAULT NULL,
  `q35` varchar(50) DEFAULT NULL,
  `q41` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`index_txt`),
  KEY `fk_data_txt_data_sql` (`index_sql`),
  CONSTRAINT `fk_data_txt_data_sql` FOREIGN KEY (`index_sql`) REFERENCES `data_sql` (`index_sql`) ON DELETE CASCADE ON UPDATE CASCADE
)"""

In [86]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='Project_1')


mycursor = cnx.cursor()
try:
    mycursor.execute(query1)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE TABLE `data_txt` (
  `index_txt` ..

In [118]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='Project_1')



mycursor = cnx.cursor()
sql = """INSERT INTO data_txt ('index_sql',
 'Q3',
 'Q4',
 'Q5',
 'Q6',
 'Q7',
 'Q8',
 'Q9',
 'Q11',
 'Q12',
 'Q13',
 'Q14',
 'Q15',
 'Q16',
 'Q17',
 'Q20',
 'Q21',
 'Q22',
 'Q23',
 'Q24',
 'Q25',
 'Q26',
 'Q32',
 'Q33',
 'Q34',
 'Q35',
 'Q41') VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
val = values_txt

try: 
    mycursor.executemany(sql, val)
    #cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''index_sql',
 'Q3',
 'Q4',
 'Q5',
 'Q6',
 'Q7',
 'Q8',
 'Q9',
 'Q11',
 'Q12',
 '' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''index_sql',
 'Q3',
 'Q4',
 'Q5',
 'Q6',
 'Q7',
 'Q8',
 'Q9',
 'Q11',
 'Q12',
 '' at line 1